/*GENERAL STYLE*/

body{
	background: #eaeae8;
	padding-bottom: 10px; 
}

body nav.navbar-default{
	background-image: none;
    border-radius: 0px;
    box-shadow: none;
    background-color: #5eb3ba;
    border: none;
    border-bottom: 2px solid #abaaaa;
}

/*LOGIN-SPECIFIC STYLE*/

h2{
	font-size: 18px;
	font-family: Arial;
	/*color: white;*/
	text-align: center;
	margin-bottom: 20px;
}

#login-form{
	
}

#sign-up-form{
	
}

.post{
	border-bottom: 1px solid #e3e0e0;
	margin-bottom: 16px;
	border-radius: 4px;
	padding: 8px;
	padding-bottom: 8px;
	/*box-shadow: inset 0 0 1px #e5e2e2;*/
	background-color: white;
}

ul.postHolder, ul.replyHolder{
	padding-left: 0px;
}

ul.postHolder li{
	list-style-type: none;
}

form#post{
	position: fixed;
	width: 100%;
	bottom: 0px;
}

ul.replyHolder{
	background-color: #f8f8f8;
    border-radius: 3px;
}

li.postData:hover {
   transition: all ease-in .4s;
   -webkit-transition: all ease-in .4s;
   -moz-transition: all ease-in .4s;
   -o-transition: all ease-in .4s;
}

li.postData:hover {
    box-shadow: 0 0 4px rgba(77, 74, 74, 0.46);
}

ul.replyHolder li{
	border-bottom: 1px dotted #e1dfdf;
	padding: 4px 2px;
}

.postInfo{
	color: #08bde6;
    text-transform: uppercase;
}

.postData.ng-enter{
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	opacity: 0;
}
.postData.ng-enter.ng-enter-active{
	opacity: 1;
}

.postData.ng-leave{
	animation: 0.5s postDataAnimate;
	-webkit-animation: 0.5s postDataAnimate;
	-moz-animation: 0.5s postDataAnimate;
	-o-animation: 0.5s postDataAnimate;
}

@keyframes postDataAnimate{
	from { opacity: 1;}
	to {opacity: 0;}
}

.navbar-default .navbar-nav>li>a {
    color: #f5f2f2;
}

.navbar-default .navbar-brand {
    color: rgb(231, 248, 249);
    text-shadow: 0 0 2px #3ca0de;
}

.navbar-default .navbar-brand:hover{
    text-shadow: none;
}

span.glyphicon{
	margin-right: 4px;
}

#userName{
	color: rgba(214, 251, 63, 0.99);
	font-size: 16px;
}

div.col-md-4 input{
	margin-bottom: 4px;
}

.btn-primary{
	margin-top: 6px;
}


/*BOARD-SPECIFIC STYLE*/