<!--SPELLING ERRORS IN "singupInfo" 3 times-->


	<div>
		<h2>Log In</h2>
		<!--{{$storage.user.username}}
		{{$storage.user.firstname}}
		 {{$storage.user.firstname}} -->
		<!-- {{tname}} -->
		<p ng-show="loginFail">Username or password is incorrect.</p>
		<form>
			<label for="userName">Username</label>
			<input class="form-control" placeholder="username" type="text" ng-model="loginInfo.username" required>
			<p>
		 <!-- something {{tname}} -->

			</p>

			<label for="password">Password</label>
	        <input ng-model="loginInfo.password" class="form-control" placeholder="password" type="password"  required>

			<button class="btn btn-primary" ng-click="loginUser()">Login</button>
		</form>
	</div>
