<div class="container">
  <h2>Sign Up</h2>

  <div>
    <ul>
      <li ng-if='passErr'>MU email is required and</li>
      <li ng-if='emailErr'>Password needs to match.</li>
    </ul>
  </div>
  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <!-- <legend>Sign UP</legend> -->

  <!-- Text input-->
  <div class="form-group">
   <!--  <label class="col-md-4 control-label" for="textinput">First Name</label>  
    <div class="col-md-4">
    <input type="text" placeholder="First name" class="form-control input-md" required="">
      
    </div> -->
    <div class="row">
      <!-- <label class="control-label" for="textinput">First Name</label>   -->
      <div class="col-md-4">
      <input class="form-control" type="text" placeholder="First name" class="form-control input-md" required ng-model="signUpInfo.firstName">
        
      </div>
      <!-- <label class="control-label" for="textinput">Last Name</label>   -->
      <div class="col-md-4">
      <input type="text" placeholder="Last name" class="form-control input-md" required ng-model="signUpInfo.lastName">
        
      </div>
      <!-- <label class="control-label" for="textinput" >Username</label>   -->
      <div class="col-md-4">
      <input type="text" placeholder="Username" class="form-control input-md" required ng-model="signUpInfo.userName">
        
      </div>  
    </div>

    <div class="row">
      <!-- <label class="control-label" for="textinput">Password</label>   -->
      <div class="col-md-4">
      <input placeholder="Password" class="form-control input-md" required type="password" ng-model="signUpInfo.password1">
        
      </div>
      <!-- <label class="control-label" for="textinput">Comfirm Password</label>   -->
      <div class="col-md-4">
      <input placeholder="Confirm password" class="form-control input-md" required type="password" ng-model="signUpInfo.password2">
        
      </div>
      <!-- <label class="control-label" for="textinput">MU Email</label>   -->
      <div class="col-md-4">
      <input type="text" placeholder="MU Email" class="form-control input-md" required ng-model="signUpInfo.muEmail">
        
      </div>
    </div>    
   
    <button name="singlebutton" class="btn btn-primary" ng-click="signUpUser()">Submit</button>

  </div>

  </fieldset>

  </form>
</div>


<!-- 	<form>
		<label for="userName">Username</label>
		<input name="userName" placeholder="username" type="text" ng-model="userName" required>
		<label for="userName">MUID</label>
		<input name="muid" placeholder="ex: 10965231" type="text" ng-model="muid" required>
		<label for="userName">Username</label>
		<input name="userName" placeholder="username" type="text" ng-model="userName" required>
		<label for="password">Password</label>
        <input name="password" placeholder="password" type="password" ng-model="password" required>
		<input name="submit" type="submit" >
	</form> -->