<div class="col-sm-8 col-sm-offset-2">
    
   <p><span class="glyphicon glyphicon-search"></span> Search: <input class="form-control" ng-model="searchTerm"></p><!-- form-control col-xs-6 -->
    <!-- <p>name: {{$storage.user.userid}}</p> -->
    <ul class="postHolder">
    	<li class="postData" ng-repeat="post in allPosts | filter:searchTerm">
            <div class="post">
                <div class="row"><span class="col-xs-12 col-sm-3 postInfo"><span class="glyphicon glyphicon-user"></span> {{post.username}}: at {{post.timestamp}}</span> <div class="col-xs-12 col-sm-9">{{post.content}} </div></div>  
                <ul class="replyHolder">
                    <li ng-repeat="y in post.replies">
                        <div> {{y.content}}</div>
                    </li>
                </ul>   

                <form class="row" name="replyForm"> 
                    <div class="col-xs-8 col-sm-8">
                        <!-- {{post.threadid}} -->
                        <input class="form-control " name="reply" type="text" ng-model="reply" required> 
                        <p ng-show="replyForm.reply.$touched && replyForm.reply.$invalid">Please add a reply.</p>
                    
                    </div>
                    <div class="col-xs-4 col-sm-4">
                        <button class="btn btn-primary" ng-click="writeReply(reply, post.threadid, $storage.user.userid)">Reply</button>  

                    </div>
                                        
                    
                </form>              
            </div><!-- post ends -->

    		
    		
            <!-- <p ng-bind="aReply"></p> -->
           
    	</li>
    </ul>
    <form id="post" class="row" name="newPostForm">
        <div class="col-xs-8 col-sm-8">
            <input class="form-control" name="newPost" type="text" ng-model="newsPost" required>
            <p ng-show="newPostForm.newPost.$touched && newPostForm.newPost.$invalid">Please add a post.</p>

        </div>

        <div class="col-xs-4 col-sm-4">
            <button class="btn btn-default" ng-click="addNewPost(newsPost, $storage.user.userid)">Add Post</button>

        </div>
        <!-- <span ng-bind="newPost"></span> -->
    </form>
</div>